html, body {
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 28px;
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: lighter; 
  
}

p {
  max-width: 65%;
  min-width: 500px;
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: lighter; 
}

h4 {
  font-size: 1rem;
  color: black;
  font-family: New Century Schoolbook, serif;
}

div {
  padding-right: 30px;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
}

.main {
  padding-left: 30px;
  min-width: 75%;
}

.nav {
  background-color: #9CA4B7;
  max-width: 25%;
  min-width: 300px;
  flex: 1;
}

.nav h1 {
  padding-left: 20px;
}

#name {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: lighter; 
  font-size: 40px;
  
  
}

img {
  margin-top: 30px;
  margin-left: 60px;
 
}

#portfolio{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: lighter; 
}
#link{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: lighter; 
}
#contact{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: lighter; 
}
#email{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: lighter; 
}
#phone{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: lighter; 
}
#references{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: lighter; 
}
#request{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: lighter; 
}
